# This file is a part of __PROGRAM_NAME__ __PROGRAM_VERSION__
#
# This file installs __PROGRAM_NAME__ in the operating system, cleans
# temporary files and directory in the project.
#
# __PROGRAM_COPYRIGHT__ __PROGRAM_AUTHOR__ __PROGRAM_AUTHOR_EMAIL__
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
[Desktop Entry]
Version=1.0
Name=__PROGRAM_NAME__
GenericName=Chinese Horoscope
GenericName[ru]=Китайский гороскоп
Comment=Chinese Horoscope for the given date
Comment[ru]=Китайский гороскоп для заданной даты
Exec=__PROGRAM_NAME__
TryExec=__PROGRAM_NAME__
Icon=__PROGRAM_NAME__
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;
StartupNotify=true
X-Desktop-File-Install-Version=0.23
